.custom-search-input {
    width: 150px;  
    height: 35px;  
    font-size: 14px; 
    margin-right: 10px; 
}

.custom-search-button {
    height: 35px; 
    font-size: 14px; 
}

@media(max-width:768%) {
    .custom-search-input{
        width: 100px;
    }

    .custom-search-button{
        font-size: 12px;
    }
}
