% extends 'base.html' %}

{% block title %}
    Guerrero Business
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Analisis de los Cedears:</h1>
        
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Apple Inc. (AAPL)</h2>
                <p>Apple Inc. es una de las empresas tecnológicas más grandes del mundo, especializada en productos como el iPhone, iPad, y Mac. Con un valor de mercado impresionante, Apple sigue siendo un líder en innovación tecnológica.</p>
                <ul>
                    <li><strong>Precio actual:</strong> $19.000</li>
                    <li><strong>Crecimiento esperado:</strong> 10% en el próximo año</li>
                    <li><strong>Recomendación:</strong> Comprar</li>
                </ul>
            </div>

            <div class="col-md-6">
                <h2>Tesla Motors (TSLA)</h2>
                <p>Tesla Motors es líder en la producción de vehículos eléctricos, con una fuerte presencia en el mercado global. Con el desarrollo de nuevas tecnologías, Tesla sigue atrayendo la atención de inversores y consumidores.</p>
                <ul>
                    <li><strong>Precio actual:</strong> $16.600</li>
                    <li><strong>Crecimiento esperado:</strong> 15% en el próximo año</li>
                    <li><strong>Recomendación:</strong> Mantener</li>
                </ul>
            </div>
        </div>

        <div class="text-center mt-5">
            <a href="/grafico" class="btn btn-primary" style="color: black;">Graficos Financieros</a>
        </div>
    </div>
{% endblock %}
