{% extends "base.html" %}

{% block tittle %} Guerrero Business {% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center text-white">Cursos exclusivos para aprender a invertir en Cedears:</h1>
    <hr>

    <div class="row mt-4">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card border-0 shadow-sm h-100 bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">Introducción a los Cedears</h5>
                    <p class="card-text">Descubre qué son los Cedears, cómo funcionan y cómo empezar a invertir.</p>
                    <a href="https://balanz.com/" class="btn btn-outline-primary">Más información</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card border-0 shadow-sm h-100 bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">Análisis Fundamental</h5>
                    <p class="card-text">Aprende a analizar las empresas detrás de los Cedears para tomar decisiones informadas.</p>
                    <a href="https://es.investing.com/" class="btn btn-outline-primary">Más información</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card border-0 shadow-sm h-100 bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">Estrategias de Trading</h5>
                    <p class="card-text">Descubre las mejores estrategias para operar con Cedears en el mercado argentino.</p>
                    <a href="https://es.tradingview.com/" class="btn btn-outline-primary">Más información</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
