{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4"> Guerrero Buisness </h1>
    <p class="lead"> Bienvenidos al Sitio web sobre las Finanzas en Argentina. </p>
    <hr class="my-4">
    <p> INVESTIGAMOS SOBRE LAS EMPRESAS Y ACCIONES ARGENTINAS EN INVESTING PRO. 
        LES VAMOS A MOSTRAR COMO SE ANALIZAN LAS EMPRESAS POR EJEMPLO AAPL(APPLE.INC) y
        TSLA(TESLA MOTORS) EN GRAFICOS Y DE CUANTO VALEN ACTUALMENTE LAS DOS EMPRESAS MENCIONADAS.</p>       
</div>
{% endblock %}
