{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4"> Que es Balanz?</h1>
    <p class="lead"> Son especialistas en inversiones.
        Lideran el mercado argentino con una trayectoria de más de 20 años.
        Hoy nos expandimos en la región y en el mundo. El actual dueño de Balanz Capital Valores SAU y Balanz Sociedad
        Gerente de Fondos Comunes de Inversión SAU se llama Julio Merlini.
        Lo minimo para invertir es de $1.000 o 100 dolares.
    </p>
    {% endblock %}