{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4"> Que es Investing Pro? </h1>
    <p class="lead"> Es una plataforma financiera y un sitio web de noticias,
        se trata de uno de los tres sitios web financieros más visitados a nivel global.
        Fue fundado en 2007 como Forexpros. En un primer momento, el portal ofrecía análisis de divisas,
        un directorio de brokers y un foro de discusión en inglés, español, hebreo y árabe.
        La empresa compró su dominio actual, Investing.com, por 2,45 millones de dólares a finales de 2012,
        ​en una de las transacciones de dominios web más caras de la historia.
        En febrero de 2021, fue clasificado como el sitio web número 194 en popularidad del mundo.
        ​Tiene cuatro oficinas en todo el mundo y en 2019 contaba con 300 empleados y algunas fuentes
        Investing.com está disponible en 24 idiomas. Para el analisis de las empresas que operan en Argentina
        se analiza si estan en perdida o si generan ganacias para poder comprarlas en Balanz. </p>
    <hr class="my-4">
</div>
{% endblock %}
