{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Que es IOL?</h1>
    <p class="lead"> IOL te ofrece la mejor alternativa para invertir y con las comisiones más bajas. 
        ¡Ingresá! Acciones en Pesos y Dólares, Letes, Lecaps, Fondos Comunes, Bonos y Más. Generá intereses diarios. Consultá los informes. 
        Participá de webinars. Sacá el máximo provecho. Ya son más de 1.000.000 clientes los que nos eligen para potenciar sus ahorros. 
        Tenemos la plataforma de inversión más simple, intuitiva y completa del mercado,
        ideal tanto para nuevos como expertos en la bolsa. Descubrí una nueva manera de potenciar tus ahorros. 
        Más de 24 años brindando las mejores alternativas de inversión.
    </p>
    <hr class="my-4">
    <div class="embed-responsive embed-responsive-16by9">
        <p class="lead">Les vamos a dejar un video introductorio de IOLinvertironline:</p>
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l3APg3ZLVAc?si" allowfullscreen ></iframe>
    </div>
</div>
{% endblock %}
