{% extends 'base.html' %}

{% block content %}
<div class="trading-widget">
    <h2>Gráfico de Cedears:</h2>
    
    <form method="GET">
        <label for="company">Seleccione una empresa:</label>
        <select id="company" name="symbol">
            <option value="NASDAQ:AAPL">Apple Inc.</option>
            <option value="NASDAQ:TSLA">Tesla Motors</option>
            <option value="NYSE:XYZ">Empresa XYZ</option>
            <option value="NYSE:ABC">Índice ABC</option>
        </select>
        <button type="submit">Ver gráfico</button>
    </form>

    <div class="tradingview-widget-container">
        <div id="tradingview_chart"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget(
        {
            "width": 980,
            "height": 610,
            "symbol": "{{ symbol }}",  <!-- Aquí se coloca el símbolo dinámico -->
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "light",
            "style": "1",
            "locale": "es",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_chart"
        });
        </script>
    </div>
</div>
{% endblock %}
